.avatar {
  border-radius: 50%;
  max-width: 100%;
}

.bio {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--bio-color);

  &.empty {
    opacity: 0.75;
  }
}

.error {
  display: flex;
  justify-content: center;
  color: var(--bio-color);
}
